.spinner {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15rem;
    height: 15rem;
}

.image {
    height: 60vh;
    padding: 1rem;
    align-self: center;
    margin-top: 1rem;
}

.card {
    border-radius: 20px !important;
    width: 45vw;
    height: 60vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #7413ce;

}

.field {
    display: flex;
    color: #e0d6da;
}

.field_name {
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center
}

.field_value {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.carousel {
    background-color: #826eb6;
    height: 30rem;
    width: 50%;
    display: flex;
    margin: auto;
}

.carousel_image {
    height: 27rem;
    width: 27rem;
    display: flex;
    margin: auto;
    padding: 2rem;
}

.errorMessage {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30rem;
}

.edit_button {
    color: #f3eee5;
    background-color: #6ec9c7;
    border-radius: 20px;
    width: 4.5rem;
    height: 3rem;
    margin-right: 1rem;
}
.delete_button {
    color: #f3eee5;
    background-color: #d95282;
    border-radius: 20px;
    width: 6rem;
    height: 3rem;
}