$violette: #6F2DBD;
$pink: #A663CC;
$smoke-violette: #B298DC;
$smoke-blue: #B8D0EB;
$blue: #B9FAF8;
$dark-violette: #3d0680;
$darkest-violette: #1e033f;
$dark-pink: #9b55c2;
$blue_violette: #3710e7;
$red-violette: #a11851